nav a{
    color: rgb(97, 63, 221);
    text-decoration: none;
}
nav ul{
    height: 50px;
    background-color: rgb(133, 104, 170);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav a:hover{
    color: whitesmoke;
}
#intro{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 99, 119);
}
